.header {
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
        text-align: right;
    }
}

.content {
    margin-top: auto;
}

.footer {
    text-align: center;
}