.canvas {
    min-height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.component-wrapper {
    margin: 12px;
    border: 1px #fff solid;
    border-radius: 3px;
    padding: 12px;

    &:hover {
        border-color: #d9d9d9;
    }
}

.selected {
    border-color: #1890ff !important;
}

.component {
    pointer-events: none;
}

.locked {
    opacity: .5;
    cursor: not-allowed;
}